// Custom styles.
// 主页文章添加阴影效果
.post {
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  border-radius 10px;
}
.content-wrap{
  border-radius 10px;
}
.header-inner{
  border-radius 10px;
}
.sidebar{
  background-color transparent;
}
.sidebar-inner {
  border-radius 10px;
}
.site-author-name{
  color: deepskyblue;
}
body{
  background-size: cover;
  background url("http://lc-ojndKHwM.cn-n1.lcfile.com/b8b7797162eb8fff8efd/body_bg.gif");
}
